@media screen and (max-width: 300px) {
    .column {
      width: 100%;
    }
  }


body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
     
h1 {
    color: pink;
    text-align: left;
}


#navbar-bawah {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: pink;
    color: palevioletred;
}

#navbar-bawah a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    display: flex;
}

#articlesroom img {
    width: 50%;
    height: 50%;
    float: left;
    display: flex;
}

#asktheexpert img {
    width: 50%;
    height: 50%;
    float: left;
    display: flex;
}

